@{
    ViewData["Title"] = "Создать новый продукт";
}


<form method="post">
    <p>
        <label>Название</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Описание</label><br />
        <input type="text" name="Description" />
    </p>
    <p>
        <label>Модель авто</label><br />
        <input type="text" name="CarModel" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>